/* Slide Transition */
.slide-enter {
  opacity: 0;
  transform: translateX(100%);
}

.slide-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 400ms, transform 400ms;
}

.slide-exit {
  opacity: 1;
  transform: translateX(0);
}

.slide-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 400ms, transform 400ms;
}

/* Fade Transition */
.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 400ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 400ms;
}

nav {
  background-color: #333;
  color: #fff;
  text-shadow: 2px 0px 10px rgb(248, 245, 245);
  padding: 1rem;
  text-align: center;
  font-size: 1.5rem;
}

.first_page_footer {
  position: fixed;
  width: 100%;
  margin-top: 1.2rem;
  text-shadow: 2px 0px 10px rgb(248, 245, 245);
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
}
.main-content {
  padding-bottom: 4rem;
  /* Adjust based on footer height */
}

.first_page_footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-top: 1.2rem;
  text-shadow: 2px 0px 10px rgb(248, 245, 245);
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
}