/* Register.css */
/* First_page.css */
* {
    transition: 0.7s;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.Register_page_container {
    /* border: 3px red solid; */

    display: flex;
    flex-direction: column;
    min-height: 82.7vh;
}


.Register_page_main_body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 2rem 6rem;
    overflow: auto;
}

.Register {
        background-image: linear-gradient(315deg, #ff5f6d 0%, #ffc371 74%);
    /* background-color: ; */
    border: 1px red solid;
    margin: auto;
    background-color: #fff;
    padding: 0.5rem 1rem;
    text-align: center;
    width: 35%;
        box-shadow: 0px 0px 20px 10px rgba(218, 11, 11, 0.1);    border-radius: 1rem;

}

.Register_container {
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.);
    /* Adjusted opacity here */
    margin: auto;
    width: 87%;
    height: 80%;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    position: relative;
    border: 1px solid transparent;
    animation: borderAnimation 5s infinite linear;
}

.Register_container p {
    margin-bottom: 2rem;
    font-size: 2.5rem;
    font-weight: 700;
    color: #242424;
    background-image: linear-gradient(to right, red, rgb(53, 54, 45));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.input_box {
    /* border: 1px red solid; */
    margin: auto;
    margin-bottom: -1rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0.5rem 1rem;
    width: 80%;
    position: relative;
}

.input_box input {
    width: 100%;
        padding: 1rem;
        border-radius: 0.5rem;
        border: 1px solid #ccc;
        font-size: 1rem;
        transition: border-color 0.3s ease;
}

.eye_icon {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translate(-50%, -45%);
    cursor: pointer;
    font-size: 1.5rem;
    color: #555;
}

.eye_icon svg {
    pointer-events: none;
}

.input_box a {
    text-decoration: none;
    margin-bottom: -1rem;
}

.buttons {
    /* border: 2px black solid; */
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0.5rem 1rem 01rem 1rem;
    width: 80%;
    margin-top: -0.5rem;
}

.buttons button {
    cursor: pointer;
    font-weight: 600;
    font-size: 1.1rem;
    padding: 0.4rem;
    border: 1px rgb(15, 13, 13) solid;
    border-radius: 0.6rem;
}

.register {
        background-image: linear-gradient(315deg, #ff5f6d 0%, #ffc371 74%);        color: white;
        cursor: pointer;
        transition: background-image 0.1s;
}

.sign_up {
    color: red;
    background-color: white;
}

.register:hover {
    color: white;
        background-image: linear-gradient(315deg,
            #ffc371 0%, #ff5f6d 74%);
            color: white;
}

.sign_up:hover {
    color: white;
    background-color: red;
}

.social {
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    text-align: left;
    padding: 0rem 1rem 1.5rem 1rem;
    width: 80%;
    font-size: 1.5rem;
    gap: 1rem;
}

.facebook {
    cursor: pointer;
    color: blue;
}

.google {
    cursor: pointer;
}
@keyframes animation {
    0% {clip-path: polygon(50% 0%, 96% 4%, 100% 43%, 97% 95%, 68% 100%, 32% 100%, 4% 96%, 0% 43%, 5% 4%);} 
    100% {clip-path: polygon(50% 0%, 100% 0, 100% 35%, 100% 70%, 87% 100%, 50% 100%, 0 100%, 0% 70%, 0% 35%, 15% 0);}   
}